.Decklist {
  display: grid;
  grid-template-columns: 300px 300px;
  grid-gap: 25px;
  margin: auto;
  padding: auto;
  width: 625px;
}

img {
  width: 100%;
  pointer-events: none;
  height: auto;
  transition: opacity .25s ease-in-out;
  //background-color: #223;
  //border-radius: 5px;
}

.error {
  color: white;
}

.hidden{
  opacity: 0;
}

.visible{
  opacity: 1;
}